@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');


:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', sans-serif;
    --fonte3: 'Sriracha', cursive;
    --fonte4: 'Josefin Slab', serif;
    --fonte5: 'Concert One', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}

header {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 153, 255);
    text-align: center;
    padding-bottom: 50px;
    height: 20px;
    position: fixed;
    width: 100%;
}

header > h1 {
    width: 400px;
    font-family: var(--fonte5);
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 2.5vw;
    text-align: left;

    transform: translate(5%, -40%);
}

header p  {
    position: absolute;
    color: black;

    transform: translate(375%, -325%);
}

header a {
    color: rgb(85, 82, 82);
    text-decoration: none;
    font-weight: bolder;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    background-color: rgb(0, 162, 255);
    background-image: url('imagens/b3.png');
    background-size: contain;
    background-position: right center;
    background-repeat: no-repeat;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte4);
    font-size: 3vw;
    font-weight: bolder;
}

section > p {
    padding-bottom: 1.5em;
    padding: 20px;
}

section.banner {
    background-repeat: no-repeat;
    background-color: rgb(255, 255, 255);
    height: 200px;
    background-image: url('imagens/b2.png');
    background-size: 100%;
    background-position: center center;
    
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgba(0, 0, 0, 0.295);
    color: white;
    box-shadow: inset 6px 6px 13px black;
    background-attachment: fixed;
}

section.imagem > p {
    padding: 20px;
    display: inline-block;
    background-color: rgb(0, 162, 255);
    /*text-shadow: 2px 1px 0px black;*/
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.473);
}

section#img01 {
    background-image: url('imagens/a1.jpg');
    background-position: right center;
    background-size: cover;
    color: rgb(255, 255, 255);
}

section#img02 {background-image: url('imagens/banner02.jpg');
    background-position: top bottom;
    background-size: cover;
    color: rgb(255, 255, 255);
}

footer {
    background-color: rgb(0, 162, 255);
    color: white;
    text-align: center;
    padding: 10px;
}
